@import "../../../../../node_modules/flag-icon-css/css/flag-icons.css";
.border-name{
  display: inline-block;
  padding-left:10px ;
  padding-right: 30px;

}
.flag-icon{
  width: 10em;
  height: 7.5em;
  box-shadow: 5px 10px 8px 10px #888888;
}
#bordering-countries{
  .flag-icon{
    width: 3em;
    height:3em;
    box-shadow: none;

  }
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.couple{
  display: flex;
  align-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;

}

#content {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto);
  max-width: 540px;
  margin: 0 auto;
  grid-gap: 20px;
  grid-template-areas:
  "title"
  "flag"
  "details"
  "bordering"
  "gallery";

}

#title {
  display: flex;
  justify-content: center;
  grid-area: title;
}

#flag {
  display: flex;
  justify-content: center;
  grid-area: flag;
}

#details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#bordering {
  grid-area: bordering;
}

#gallery {
  grid-area: gallery;
}


@media screen and (min-width: 1200px) {
  #content {
    max-width: 1100px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
  "flag title"
  "flag details"
  "bordering bordering"
  "gallery gallery";

  }
  #title {

    justify-content: flex-start;
  }
  #flag{
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
  .flag-icon{
    scale:1;
    width: 12em;
    height: 9em;
  }


}

