<ng-container *transloco="let t">
  <app-navigation></app-navigation>
  <main *ngIf="country" id="content">
    <div id="title">
      <h2>{{country!.name.common}}</h2>
    </div>
    <div id="flag">
      <span *ngIf="country!.tld" class="flag-icon flag-icon-{{country!.tld[0].slice(1)}}"></span>
    </div>
    <div id="details-user" class="details" *ngxPermissionsOnly="'USER'">
      <p>{{t('details.capital_city')}} : {{country!.capital}}</p>
      <p>{{t('details.currency')}} : <span
        *ngFor="let curr of country!.currencies! | keys; let i = index">{{curr.name}}{{i === getCurrenciesLength() - 1 ? '' : ',&nbsp;' }}</span>
      </p>
      <p>{{t('details.language')}} :<span
        *ngFor="let lang of country!.languages | keyvalue; let i = index">{{lang.value}}{{i === getLangLength() - 1 ? '' : ',&nbsp;' }}</span>
      </p>
      <p>{{t('details.continent')}} :{{country!.continents}}</p>
      <!--    <p>Regional Bloc :{{country!.regionalBloc}}</p>-->

    </div>
    <div id="details-admin" class="details" *ngxPermissionsOnly="'ADMIN'">

      <div [ngSwitch]="edit" class="container">

        <div  class="details" *ngSwitchCase="'view'">
          <p>{{t('details.capital_city')}} : {{country!.capital}}</p>
          <p>{{t('details.currency')}} : <span
            *ngFor="let curr of country!.currencies! | keys; let i = index">{{curr.name}}{{i === getCurrenciesLength() - 1 ? '' : ',&nbsp;' }}</span>
          </p>
          <p>{{t('details.language')}} :<span
            *ngFor="let lang of country!.languages | keyvalue; let i = index">{{lang.value}}{{i === getLangLength() - 1 ? '' : ',&nbsp;' }}</span>
          </p>
          <p>{{t('details.continent')}} :{{country!.continents}}</p>
          <!--    <p>Regional Bloc :{{country!.regionalBloc}}</p>-->

          <button class="btn btn-secondary" (click)="viewEdit()">Edit</button>

        </div>



      <div class="container" *ngSwitchCase="'edit'">
        <div class="row">
          <div class="col-md-12">
            <div class="margin-20">
              <h4>{{t("details.edit_details")}}</h4>
            </div>
            <form [formGroup]="formGroup" novalidate (ngSubmit)="save(formGroup.value)">
              <div class="form-group">
                <label>{{t('details.capital_city')}}</label>
                <input type="text" class="form-control" formControlName="capital">
                <small *ngIf="!formGroup.controls.capital.valid" class="text-danger">
                    {{t('details.name_required')}}
                </small>
              </div>
              <!--currencies-->
              <div formArrayName="currency">
                <div *ngFor="let currency of formGroup.controls.currency.controls; let i=index"
                     class="panel panel-default">
                  <div class="panel-heading margin-20">
                    <span>{{t('details.currency')}} {{i + 1}}</span>
                    <a *ngIf="formGroup.controls.currency.controls.length > 1" (click)="removeCurrency(i)"
                       style="cursor: default; float: right">
                      X
                    </a>
                  </div>
                  <div class="panel-body" [formGroupName]="i" class="col-md-12 border">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label>{{t("details.code")}}</label>
                        <input type="text" class="form-control" formControlName="code">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label>{{t("details.name")}}</label>
                        <input type="text" class="form-control" formControlName="name">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--languagues-->
              <div formArrayName="language" class="margin-20">
                <div *ngFor="let lang of formGroup.controls.language.controls; let i=index" class="panel panel-default">
                  <div class="panel-heading margin-20">
                    <span>{{t("details.language")}} {{i + 1}}</span>
                    <a *ngIf="formGroup.controls.language.controls.length > 1" (click)="removeLanguage(i)"
                       style="cursor: default; float: right">
                      X
                    </a>
                  </div>
                  <div class="panel-body" [formGroupName]="i" class="col-md-12 border">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label>{{t("code")}}</label>
                        <input type="text" class="form-control" formControlName="code">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label>{{t("details.language")}}</label>
                        <input type="text" class="form-control" formControlName="lang">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="margin-20">
                <a (click)="addLanguage()" style="cursor: default; float: right">
                  {{t("details.new_language")}}
                </a>
              </div>

              <div class="margin-20">
                <a (click)="addCurrency()" style="cursor: default; float: right">
                  {{t("details.new_currency")}}
                </a>
              </div>

              <div class="margin-20" style="display: flex;justify-content: space-around">
                <button type="submit" class="btn btn-secondary pull-right">{{t('details.submit')}}</button>

                <button (click)="cancel()" class="btn btn-secondary pull-right">{{t('details.cancel')}}</button>
              </div>

              <div class="clearfix"></div>

              <!--            <div class="margin-20">-->
              <!--              <pre>form value: <br>{{formGroup!.value | json}}</pre>-->
              <!--            </div>-->
            </form>
          </div>
        </div>
      </div>

      </div>


    </div>
    <div id="bordering">
      <h2>{{t('details.bordering_countries')}} :</h2>
      <div *ngIf="country.borders; else Noborders " id="bordering-countries">
        <div *ngFor="let border of borders" class="couple" (click)="onSelect(border)"><span *ngIf="border.tld"
                                                                                            class="flag-icon flag-icon-{{border.tld[0].slice(1)}}"></span>
          <div class="border-name">{{border.name.common}}</div>
        </div>
      </div>
      <ng-template #Noborders><p>{{country.name.common + ' does not border any country'}}</p></ng-template>

    </div>
    <div id="gallery">
      <h2>{{t('details.gallery')}} :</h2>
      <!--    <a (click)="uploadPage()">upload</a>-->
      <!--    <a (click)="ImageListPage()">   List</a>-->
      <div *ngxPermissionsOnly="'ADMIN'">
        <select [(ngModel)]="userType">
          <option value="list">{{t('details.image_list')}}</option>
          <option value="upload">{{t('details.upload_image')}}</option>
        </select>
        <br>
        <br>

        <div [ngSwitch]="userType">
          <app-image-list *ngSwitchCase="'list'" [countryName]="country.name.common"></app-image-list>
          <app-image *ngSwitchCase="'upload'" [countryName]="country.name.common"></app-image>
        </div>
      </div>

      <div *ngxPermissionsOnly="'USER'">

        <app-image-list [countryName]="country.name.common"></app-image-list>

      </div>


    </div>
  </main>
</ng-container>
<router-outlet></router-outlet>
