<div class="wrapper">
  <div class="card text-center">
    <div class="card-header">
      Search
    </div>
    <div class="card-body">
      <input id='country-search' type="text" placeholder="Search by country name" [(ngModel)]="enteredSearchValue" (input)="onSearchTextChanged()">
      <div class="flex-container">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Regions</label>
          <select #Regions (change)="onSelectChange(Regions.value)" class="form-control" id="exampleFormControlSelect1">
            <option value="">All Regions</option>
            <option value="Africa">Africa</option>
            <option value="Americas"> Americas</option>
            <option value="Asia">Asia</option>
            <option value="Europe">Europe</option>
            <option value="Oceania">Oceania</option>
          </select>
        </div>

      </div>


    </div>
    <div class="card-footer text-muted">

    </div>
  </div>
</div>
